absl-py==0.12.0
astor==0.7.1
cycler==0.10.0
gast==0.2.0
google-pasta==0.1.8
graphviz==0.13.2
grpcio==1.14.2
h5py==2.8.0
imbalanced-learn==0.3.3
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keras-self-attention==0.32.0
kiwisolver==1.1.0
Markdown==2.6.11
matplotlib==3.4.0
MIDIUtil==1.2.1
mido==1.2.9
mock==4.0.3
music21==5.1.0
numpy==1.16.0
opt-einsum==3.3.0
pandas==0.25.3
Pillow==8.1.2
protobuf==3.6.1
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.1
scikit-learn==0.20.0
scipy==1.1.0
seaborn==0.10.1
six==1.11.0
sklearn==0.0
skope-rules==1.0.1
tb-nightly==1.14.0a20190603
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
tf-estimator-nightly==1.14.0.dev2019060501
Werkzeug==0.15.3
wrapt==1.11.2
