absl-py==0.4.1
astor==0.7.1
gast==0.2.0
grpcio==1.14.2
h5py==2.8.0
imbalanced-learn==0.3.3
Keras==2.2.2
Keras-Applications==1.0.4
Keras-Preprocessing==1.0.2
keras-self-attention==0.32.0
Markdown==2.6.11
MIDIUtil==1.2.1
music21==5.1.0
numpy==1.14.5
protobuf==3.6.1
PyYAML==5.1
scikit-learn==0.20.0
scipy==1.1.0
six==1.11.0
tensorboard==1.10.0
tensorflow-gpu==1.10.0
termcolor==1.1.0
Werkzeug==0.15.3
