<nav class="nav-primary" role="navigation" >
<ul>
<li>
        	<a href="{{ site.baseurl }}/">Home</a>
</li>
<li>Practical Part: Everything You Need to Know to Run the Program </li>
    <ol>
        
		<li>
        	<a href="{{ site.baseurl }}/Github_Page/installation_guide.html">Installation Guide</a>
        </li>
		<li>
        	<a href="{{ site.baseurl }}/Github_Page/workflow_overview.html">Workflow Overview</a>
        </li>
		<li>
        	<a href="{{ site.baseurl }}/Github_Page/parameter_adjustment.html">Parameter Adjustment</a>
        </li>
		<li>
			<a href="{{ site.baseurl }}/Github_Page/example.html">Examples of the Generated Results</a>
		</li>
    </ol>
<li>Theoretical Part: Complimentary Details for the Paper </li>
	<ol>
		
		<li>
			<a href="{{ site.baseurl }}/Github_Page/project_aim.html">The Aim of This Project</a>
		</li>
		<li>
			<a href="{{ site.baseurl }}/Github_Page/model_architecture.html">Model's Architecture (in the Example of DNN)</a>
		</li>
		<li>
			<a href="{{ site.baseurl }}/Github_Page/progress_result.html">Current Progress and Results</a>
		</li>
		<li>
			<a href="{{ site.baseurl }}/Github_Page/problems.html">Current Problems to Solve</a>
		</li>
		
	</ol>
</ul>
</nav>