<nav class="nav-primary" role="navigation" >
<ul>
<li>
        	<a href="{{ site.baseurl }}/">Home</a>
</li>
<li>An Interactive Workflow for Generating Chord Labels for Homorhythmic Music in Symbolic Formats</li>
    <ol>
        
		<li>
        	<a href="{{ site.baseurl }}/Github_Page/installation_guide.html">Installation Guide</a>
        </li>
		<li>
        	<a href="{{ site.baseurl }}/Github_Page/workflow_overview.html">Workflow Overview</a>
        </li>
		<li>
        	<a href="{{ site.baseurl }}/Github_Page/parameter_adjustment.html">Parameter Adjustment</a>
        </li>
		<li>
			<a href="{{ site.baseurl }}/Github_Page/model_architecture.html">Model's Architecture (in the Example of DNN)</a>
		</li>
		<li>
			<a href="{{ site.baseurl }}/Github_Page/example.html">Examples of the Generated Results</a>
		</li>
    </ol>
<li>Automatic Figured Bass Annotation Using the New Bach Chorales Figured Bass Dataset </li>
	<ol>
		<li>
        	<a href="{{ site.baseurl }}/Github_Page/installation_guide_FB.html">Guide</a>
        </li>
	</ol>
<li>Automatic Chord Labelling: A Figured Bass Approach </li>
	<ol>
		<li>
        	<a href="{{ site.baseurl }}/Github_Page/installation_guide_FB_chord.html">Guide</a>
        </li>
	</ol>
</ul>
</nav>