<nav class="nav-primary" role="navigation" >
<ul>
<li>
        	<a href="{{ site.baseurl }}/">Home</a>
</li>
<li>Introduction of the Repository</li>
    <ol>
        
		<li>
        	<a href="{{ site.baseurl }}/installation_guide.html">Installation Guide</a>
        </li>
		<li>
        	<a href="{{ site.baseurl }}/workflow_overview.html">Workflow Overview</a>
        </li>
		<li>
        	<a href="{{ site.baseurl }}/parameter_adjustment.html">Parameter Adjustment</a>
        </li>
		
    </ol>
<li>Introduction of the Project</li>
	<ol>
		
		<li>
			<a href="{{ site.baseurl }}/project_aim.html">The Aim of This Project</a>
		</li>
		<li>
			<a href="{{ site.baseurl }}/model_architecture.html">Model's Architecture (in the Example of DNN)</a>
		</li>
		<li>
			<a href="{{ site.baseurl }}/progress_result.html">Current Progress and Results</a>
		</li>
		<li>
			<a href="{{ site.baseurl }}/example.html">Examples of the Results</a>
		</li>
		<li>
			<a href="{{ site.baseurl }}/problems.html">Current Problems to Solve</a>
		</li>
		
	</ol>
</ul>
</nav>